:root {
  --primary-text-color: #212121;
  --secondary-text-color: #ffffff;
  --accent-text-color: #757575;
  --primary-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --accent-color: #2196f3;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

/* Утилиты  */

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  display: inline-flex;
  align-items: center;
  padding: 10px 26px 10px 29px;
  margin-top: 20px;
  color: var(--secondary-text-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  min-width: 200px;
  font-size: 16px;
  outline: none;
}

/* team-social */
.social {
  display: flex;
  justify-content: center;
  padding-bottom: 24px;
}
/* Social icon block */
.social__item {
  margin-right: 10px;
}

.social__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-bg-color);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color;
}

.social__item-link-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill;
}

/* Header */
.header {
  display: flex;
  align-items: center;
}

/* logo  */
.logo {
  font-family: "Raleway", sans-serif;
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo__accent {
  color: var(--accent-color);
}

/* Menu */

.menu {
  display: flex;
  margin-left: 81px;
}

.menu .menu__item + .menu__item {
  margin-left: 50px;
}

/* menu link*/

.menu__link {
  position: relative;
  display: flex;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color;
}

.menu__link:hover,
.menu__link:focus {
  color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* menu__link-current */
.menu__link-current {
  color: var(--accent-color);
}

.menu__link-current.menu__link::after {
  opacity: 1;
}

/* after */

.menu__link::after {
  display: inline-flex;
  position: absolute;
  left: 0;
  right: 0;

  content: "";
  bottom: 0;
  right: 0;

  /* width: -webkit-fill-available; */
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;

  opacity: 0;
}

/* contacts */

.contacts {
  display: flex;
  margin-left: auto;
}

.contacts .contacts__item + .contacts__item {
  margin-left: 10px;
}

/* contacts link */

.contacts__link {
  display: flex;
  align-content: center;
  color: var(--accent-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* contacts svg */

.contacts__svg {
  width: 16px;
  height: 15px;
  margin-right: 10px;
  fill: #757575;

  transition: fill;
}

.contacts__link:hover .contacts__svg,
.contacts__link:focus .contacts__svg {
  fill: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* section-title */

.section__title {
  margin-top: 0;
  margin-bottom: 50px;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Footer */

.footer {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.footer__content {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.footer .logo {
  color: var(--primary-bg-color);
}

.footer__subtitle {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-bg-color);
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}
/* footer__address */

.footer__address {
  padding-top: 20px;
}
/* Узнать у ментора */
address {
  font-style: normal;
}

.footer__address-street {
  color: var(--primary-bg-color);
  font-style: normal;
  font-size: 14px;

  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer__address-link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
}

/* footer__social */

.footer__social {
  display: block;
  padding-top: 20px;
}

.footer__social .social {
  display: flex;
  margin-top: 20px;
}
.footer__social .social__item-link {
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color;
}

.social__item-link:hover,
.social__item-link:focus {
  background-color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social .social__item-link-svg {
  fill: var(--primary-bg-color);
}

/* footer__form */

.footer__form {
  display: flex;
  margin-top: 20px;
}

.footer__form-input {
  width: 358px;
  height: 50px;

  background: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}

.footer__form-input::placeholder {
  padding-left: 16px;
  color: rgba(255, 255, 255, 0.6);
}

.footer__form-svg {
  width: 24px;
  height: 24px;
  padding-left: 10px;
  fill: var(--primary-bg-color);
}

.footer__form-button {
  margin: 0;
  margin-left: 12px;
  cursor: pointer;
}

.footer__form-input:hover,
.footer__form-input:focus {
  border: 1px solid var(--accent-color);
}

.input::placeholder:hover,
.input::placeholder:focus {
  color: var(--accent-color);
}
