.portfolio {
  padding-top: 93px;
  padding-bottom: 93px;
}

/* portfolio__nav */

.portfolio__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__nav-item {
  margin-right: 8px;
}

.portfolio__nav-item-button {
  display: inline-flex;
  padding: 6px 22px;

  outline: none;
  border-radius: 4px;
  border-width: 0;
  background-color: var(--secondary-bg-color);
  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.03em;
  cursor: pointer;

  transition: background-color;
}

.portfolio__nav-item-button:hover,
.portfolio__nav-item-button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-text-color);

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

/* Portfolio__gallery */

.portfolio__gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.portfolio__gallery-item {
  width: 370px;
  margin: 15px;
}

.portfolio__gallery-item-title {
  margin: 0;
  padding: 20px 24px 0;

  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio__gallery-item-text {
  margin: 0;
  margin-top: 4px;
  padding: 0 24px 20px;

  color: var(--accent-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

/* portfolio__gallery-content */

.portfolio__gallery-content {
  position: relative;
  overflow: hidden;
}

.portfolio__gallery-content:hover .portfolio__gallery-overlay {
  transform: translateY(0);
}

/* portfolio__gallery-overlay */
.portfolio__gallery-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__gallery-overlay-desc {
  color: var(--secondary-text-color);
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  text-align: left;
  padding: 63px 24px;
}
